[Unit]
Description=My Python Project
After=network.target

[Service]
ExecStart=/opt/Repost_bot/.env/bin/python3 /opt/Repost_bot/main.py
Restart=on failure
RestartSec=3

[Install]
WantedBy=default.target